- if current_user_info.method == 'email'
  = (current_user.email rescue '')
- elsif current_user_info.method == 'full_name'
  = (current_user.full_name rescue '')
- elsif current_user_info.method == 'first_name'
  = (current_user.first_name rescue '')
- elsif current_user_info.method == 'last_name'
  = (current_user.last_name rescue '')
