- payload = {:snippets => Effective::Snippets::Snippet.all(controller), :templates => Effective::Templates::Template.all(controller)}

:javascript
  CKEDITOR.config['effective_regions'] = #{payload.to_json()};
